body {
    background-color: #101010;
    color: #ffffff;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    overflow: hidden; /* Disable scrolling */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}



.gradient-text {
   
    background: linear-gradient(145deg, #f81f01 20%, #ff308d 60%);
    -webkit-background-clip: text;
    color: transparent;
}



.title {
    text-align: left;
    font-weight: 900;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 0;
    margin-right: 50px;
    font-size: 120px;
    line-height: 112px;
    min-width: 500px
}

.sub {
    text-align: left;
    font-family:fantasy
    font-weight: 400;
    margin-left: 10%;
    margin-top: 25px;
    font-size: 60px;
    line-height: 70px;
}

.text {
    
    min-width:300px;
    display: block;
    opacity: .75;
    color:#c6c9d8;
    font-size: 17px;
    line-height: 30px;
    font-weight: 100;
    text-align: left;
    margin-left: 10%;
    margin-right: 71%
    
}

.header {
    background-color: #101010;
    color: #ffffff;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 50px;
    min-width: 400px
}


img{
    padding: 20px;
}

.navbar{
    text-align: top;
    margin-top: 0px;
    margin-right: 100px;
    min-width: 400px
}

.navbar a{
    line-height: 10px;
    font-size: 20px;
    text-decoration: none;
    margin: 20px 15px;
    color:#c6c9d8;
    font-family: fantasy
    
    
    
  
}

.navbar a:hover {
    color: #ff308d; 
  }

.footer{
    min-width:300px;
    display: block;
    opacity: .75;
    color:#c6c9d8;
    font-size: 13px;
    text-align: center;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding-bottom: 0px;
}